{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/lottie/lottie.njk" import lottie %}

<div class="content container">
  <div class="media">{{ lottie(section.lottie) }}</div>
</div>