{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/image/image.njk" import image %}

<div class="content container">
  {% if section.image %}
    <div class="media">
      {{ image(section.image) }}
    </div>
  {% endif %}
  {% if section.ctas | hasCtas %}
    <div class="ctas-wrapper">
      {{ ctas(section.ctas) }}
    </div>
  {% endif %}
</div>