{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/video/video.njk" import video %}

<div class="content container">
  {% if section.video %}
    <div class="media">
      {{ video(section.video) }}
    </div>
  {% endif %}
  {% if section.ctas | hasCtas %}
    <div class="ctas-wrapper">
      {{ ctas(section.ctas) }}
    </div>
  {% endif %}
</div>