{% macro lottie(lottieData) %}
  {# The lottie-player web component is loaded once by lottie.js #}
  <lottie-player
    src="{{ lottieData.src }}"
    background="transparent"
    speed="{{ lottieData.speed | default(1) }}"
    {% if lottieData.control.loop %} loop {% endif %}
    {% if lottieData.control.autoplay %} autoplay {% endif %}
  ></lottie-player>
{% endmacro %}