{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/text/text.njk" import text %}
{% from "components/_partials/image/image.njk" import image %}
{% from "components/_partials/slider-pagination/slider-pagination.njk" import sliderPagination %}

<div class="slider container {% if section.config === 'isTabs' %}is-tabs{% endif %}">
  <div
    class="slider-wrapper"
    role="region"
    aria-label="{% if section.text.title %}{{ section.text.title }}{% else %}Image carousel{% endif %}"
    tabindex="0"
  >
    {{ sliderPagination(section.slides, section.isTabs) }}
  

    <ul class="slides" aria-live="polite" aria-atomic="false">
      {% for slide in section.slides %}
        <li
        class="slide {{ slide.slideClasses }} {% if loop.index == 1 %}is-selected{% endif %}"
        role="group"
        aria-label="{% if slide.text.title %}{{ slide.text.title }}{% else %}Slide {{ loop.index }} of {{ section.slides | length }}{% endif %}"
      >
          <div class="image">{{ image(slide.image)}}</div>

          <!-- .image -->

          <div class="slide-content">
            {% if slide.text %}
              <div class="text">{{ text(slide.text)}}</div>

              <!-- .text -->
            {% endif %}
            {% if slide.ctas | hasCtas %}
              {{ ctas(slide.ctas) }}
            {% endif %}
          </div>

          <!-- .content -->
        </li>
      {% endfor %}
    </ul>
  </div>

  <!-- .slider-wrapper -->
</div>