{% extends "pages/default.njk" %}

{# NOTE: This file is excluded from Prettier formatting due to dynamic HTML tags #}
{# See .prettierignore and CONTRIBUTING.md for details #}

{% block body %}
{% include "components/_helpers/sections-renderer.njk" %}
{% endblock %}