{% from "components/_partials/breadcrumbs/breadcrumbs.njk" import breadcrumbs %}

<!doctype html>
<html class="no-js" lang="">
  {% include "components/_helpers/head.njk" %}

  <body class="with-sidebar {{ bodyClasses }}">
    <span id="top"></span>
    {% include "components/sections/header/header.njk" %}

    <aside class="references sidebar">
      {% include "components/_helpers/references.njk" %}
    </aside>

    <main class="transition-fade" id="swup">
      {{ breadcrumbs(navigation.breadcrumbs) }}

      {% block body %}
        {# will be replaced by page content #}
      {% endblock %}

      {% include "components/sections/footer/footer.njk" %}
    </main>

    {% include "components/_partials/page-transitions/page-transitions.njk" %}

    <script src="/assets/main.js"></script>

    <a class="to-top" href="#top">
      {% include "icons/arrow-up.njk" %}
    </a>
  </body>
</html>