{% from "components/_partials/ctas/ctas.njk" import ctas %}
{% from "components/_partials/audio/audio.njk" import audio %}

<div class="content container">
  {% if section.audio %}
    <div class="media">
      {{ audio(section.audio) }}
    </div>
  {% endif %}
  {% if section.ctas | hasCtas %}
    <div class="ctas-wrapper">
      {{ ctas(section.ctas) }}
    </div>
  {% endif %}
</div>